<div class="container-fluid">
<div class="row">
	<span class="span3 columns">
		<span class="label label-warning pull-left">Aileron</span>
	</span>
	<span class="span9 columns">
		<div class="well">
			<input type="text" id="c0" class="span2" value="" data-slider-min="1000" data-slider-max="2000" data-slider-step="1" data-slider-value="1000" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="square" >
		</div>
	</span>	
</div>
<div class="row">
	<span class="span3 columns">
		<span class="label label-warning pull-left">Elevator</span>
	</span>
	<span class="span9 columns">
		<div class="well">
			<input type="text" id="c1"  class="span2" value="" data-slider-min="1000" data-slider-max="2000" data-slider-step="1" data-slider-value="1000" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="square" >
		</div>
	</span>	
</div>
<div class="row">
	<span class="span3 columns">
		<span class="label label-warning pull-left">Throttle</span>
	</span>
	<span class="span9 columns">
		<div class="well">
			<input type="text" id="c2" class="span2" value="" data-slider-min="1000" data-slider-max="2000" data-slider-step="1" data-slider-value="1000" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="square" >
		</div>
	</span>	
</div>
<div class="row">
	<span class="span3 columns">
		<span class="label label-warning pull-left">Rudder</span>
	</span>
	<span class="span9 columns">
		<div class="well">
			<input type="text" id="c3" class="span2" value="" data-slider-min="1000" data-slider-max="2000" data-slider-step="1" data-slider-value="1000" data-slider-id="RC" id="R" data-slider-tooltip="hide" data-slider-handle="square" >
		</div>
	</span>	
</div>
</div>	
<div class="row hide">
	<span class="span6">
		<input type="button" class="btn btn-primary btn-large pull-right" onclick="fnStart()" value="Start">
	</span>
	<span class="span6">
		<input type="button" class="btn btn-large" onclick="fnStop()" value="Stop">
	</span>
</div>